
<!--
login.ejs
Sira Nassoko
December 17, 2020
-->
<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Error</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>
  <% include global/header %>

  <div id="Error">
    <h2>Error 403</h2>
<p>Oh no! Looks like you entered the wrong credentials! Please go back to the login page and enter the right username and password</p>
  </div>

  <% include global/footer %>

  <script src="scripts/scripts.js"></script>
 </body>
</html>
