body {
  background-color: mistyrose;
  color: black;
  font-family: arial;
  letter-spacing: 0.5px;

}
h1 {
  color: black;
  text-align: center;
}

h1:visited {
  color: black;
}

a {
  color: PaleVioletRed;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #ffffff;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

table, th, td {
   border: 1px solid black;
   outline: PaleVioletRed solid 2px;
}

img {
  width: 100px;
  border: 5px solid PaleVioletRed;
}

.top_row{
  background-color: #000000;
  color: white;
}
.hidden{
  display: none;
}

.visible{
  display:block;
  outline: lightblue solid 2px;

}
